@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@300;400&display=swap');

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
}

:root {
    --background-color: #17171c;
    --symbols-color: #fff;
    --description-color: #68686C;
    --row-color: #2E2F38;
    --row-hover-color: #4f515c;
    --row-active-color: #5f6066;
    --row-first-color: #4E505F;
    --row-first-hover-color: #666877;
    --row-first-active-color: #595c6e;
    --column-color: #4B5EFC;
    --column-hover-color: #5f6ce2;
    --column-active-color: #4e5cdb;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header {
    position: relative;
}

.header__section {
    margin: 0;
    padding-top: 1.5rem;
    text-align: center;
    color: var(--symbols-color);
}

.main__container {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.main__content {
    text-align: right;
    margin-bottom: 0.8rem;
}

.main__descr {
    margin: 0;
    margin-bottom: 2rem;
    max-height: 0.6rem;
    font-weight: 300;
    font-size: 2rem;
    color: var(--description-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main__input {
    width: 100%;
    height: 4rem;
    text-align: right;
    font-weight: 300;
    font-size: 3.5rem;
    color: var(--symbols-color);
    background-color: var(--background-color);
    border: none;
}

.main__buttons {
    display: grid;
    grid-template: repeat(5, 3rem) / repeat(4, minmax(3rem, 8.5rem));
    gap: 0.8rem;
    justify-content: center;
}

.btn {
    border-radius: 1.2rem;
    color: var(--symbols-color);
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn__row {
    background-color: var(--row-color);
}

.btn__row:hover {
    background-color: var(--row-hover-color);
}

.btn__row:active {
    background-color: var(--row-active-color);
}

.btn__row--first {
    background-color: var(--row-first-color);
}

.btn__row--first:hover {
    background-color: var(--row-first-hover-color);
}

.btn__row--first:active {
    background-color: var(--row-first-hover-color);
}

.btn__column {
    background-color: var(--column-color);
}

.btn__column:hover {
    background-color: var(--column-hover-color);
}

.btn__column:active {
    background-color: var(--column-active-color);
}

.btn__path {
    fill: var(--symbols-color);
}

@media(max-width: 368px) {
    .main__container {
        max-width: 100%;
    }

    .main__buttons {
        gap: 0.4rem;
    }
}